
#== pip installation
pip install -r requirements.txt

# === Core Application Dependency ===
gradio==4.25.0

# === Hugging Face Deployment (Optional) ===
huggingface_hub>=0.21.4  # For pushing to Hugging Face Spaces

